<form [formGroup]='currentEmployee.EmployeeFormValidator' class="col-md-6 col-md-offset-3">
    pristine {{currentEmployee.EmployeeFormValidator.pristine}}<br /> touched {{currentEmployee.EmployeeFormValidator.touched}}<br
    />
    <div class="form-group">
        <label id="name">Name:</label>
        <input class="form-control" type="text" id="employeeName" formControlName="Name" [(ngModel)]="currentEmployee.Name" placeholder="Name"
        />
        <div *ngIf="(currentEmployee.IsDirty('Name')==true)" [hidden]="currentEmployee.IsValid('Name','required')" class="alert-danger">
            Employee Name is required</div>
    </div>
    <div class="form-group">
        <label id="ID">ID:</label>
        <input class="form-control" type="text" id="employeeID" formControlName="Id" [(ngModel)]="currentEmployee.Id" placeholder="ID"
        />
        <div *ngIf="(currentEmployee.IsDirty('Id')==true)" [hidden]="currentEmployee.IsValid('Id','required')" class="alert-danger">
            Employee ID is required</div>
        <div *ngIf="(currentEmployee.IsDirty('Id')==true)" [hidden]="currentEmployee.IsValid('Id','pattern')" class="alert-danger">
            Employee Code should be of a format C1001,X9008</div>

    </div>
    <div class="form-group">
        <label id="MobileNo">MobileNo:</label>
        <input class="form-control" type="text" id="MobileNo" class="form-control" [(ngModel)]="currentEmployee.MobileNo" formControlName="MobileNo"
            placeholder="+64" />
        <div *ngIf="(currentEmployee.IsDirty('MobileNo')==true)" [hidden]="currentEmployee.IsValid('MobileNo','required')" class="alert-danger">
            Employee MobileNo is required</div>
    </div>
    <div class="form-group">
        <label id="Department">Department:</label>
        <input class="form-control" type="text" id="Department" class="form-control" [(ngModel)]="currentEmployee.Department" formControlName="Department"
            placeholder="DeptID" />

    </div>
    <div class="form-group">
        <select [ngModel]="employeeType" class="form-control" (ngModelChange)="OnTypeChanged($event)" [ngModelOptions]="{standalone:true}">
        <option value="HOD">HOD
        </option>
               <option value="EMP">EMP
        </option>
    </select>
    </div>
    <div class="alert alert-success alert-dismissable" *ngIf="saveSuccess">
        <a [routerLink]="['/employee']" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong>
    </div>
    <input type="button" class="btn btn-primary" (click)="submit()" [disabled]="!(currentEmployee.AllValid())" id="Add" value="Add"
    />
    <input type="button" class="btn btn-primary" (click)="submit()" [disabled]="!(currentEmployee.AllValid())" id="submit" value="Submit"
    />
    <input type="button" class="btn btn-primary" (click)="cancel()" id="clear" value="Clear" />
    <br/> {{currentEmployee.Name}}
    <br/>
    <grid-UI [grid-data]="employees" [grid-entityname]="'employee'" (grid-selected)="Select($event)"></grid-UI>
</form>